# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# node nonsense for extension to work
node_modules/

# obsidian metadata
.obsidian

# Fresh build directory
_fresh/
